root = true

[*]
end_of_line = crlf # windows-newlines because
insert_final_newline = true

[*.{java,py}]
charset = utf-8

[*.py]
# PEP8
indent_style = space
indent_size = 4

[*.java]
indent_style = tab
