/bin/
/target
*.classpath
*.project
.settings/.jsdtscope
*.prefs
*.MF
.settings/*
*.name
*.config
git status
/build/
*/WEB-INF/*.jar
*.eml
*.iml
.idea/
/gradle
/.gradle
/gradlew
/gradlew.bat
# files containing passwords
/src/main/resources/config.properties
/tomcat.xml