bin/
/target
*.classpath
*.project
.settings/.jsdtscope
*.prefs
*.MF
.settings/*
*.name
*.config
build/
*/WEB-INF/*.jar
*.eml
*.iml
*.class
.idea/
/.gradle
.vscode
# files containing passwords
/src/main/resources/config.secret.properties
/tomcat.xml
*.*~
/GPATH
/GRTAGS
/GTAGS
/src/main/python/model_en
/kst-config.txt
*.pyc
